#container-max-widths {
    sm: 540px;
    md: 720px;
    lg: 960px;
    xl: 1140px;
    xxl: 1320px;
}

#map {
    display: flex;
    justify-content: center;
    height: 700px;
}

.spacing-above {
    margin-top: 20px;
}